{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-signup outer">
    <div class="inner">

    {{#if @member.paid}}

        {{!-- Logged in, paying member: Redirect home --}}
        <script>window.location = '{{@site.url}}';</script>

    {{else if @member}}

        {{!-- Logged in, not paying: Check out --}}
        <div class="checkout-form">
            <h1 class="checkout-title">Escolha sua assinatura</h1>
            <p>Tenha acesso a todo conteúdo exclusivo de "Grow in Tech" publicado por {{@site.title}}</p>
            <p>As mais importantes técnicas, novidades e ideias sobre como implantar PQL, realizar o crescimento baseado em produto e alinhar marketing, vendas e CS</p>
            <p>Transformar experiência em conteúdo requer coragem, esforço e a sua contribuição.</p>
            <div class="checkout-box">
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>Mensal</h3>
                        <span>$</span><strong>{{@price.monthly}}</strong> / month
                    </header>
                    <div class="checkout-plan-content">
                        <ul>
                            <li>Acesso total a conteúdo exclusivo para membros</li>
                            <li>Acesso total a newsletter <strong>Grow in Tech, Weekly"</strong></li>
                            <li>Apoie uma publicação independent e sem segundas intenções</li>
                            <li>Pagamento seguro, simples e fácil de cancelar quando quiser</li>
                        </ul>
                        <a class="button primary fit" href="javascript:" data-members-plan="Monthly">Escolher esse plano</a>
                    </div>
                </div>
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>Yearly</h3>
                        <span>$</span><strong>{{@price.yearly}}</strong> / year
                    </header>
                    <div class="checkout-plan-content">
                        <ul>
                            <li>Acesso total a conteúdo exclusivo para membros</li>
                            <li>Acesso total a newsletter <strong>Grow in Tech, Weekly"</strong></li>
                            <li>Apoie uma publicação independent e sem segundas intenções</li>
                            <li>Pagamento seguro, simples e fácil de cancelar quando quiser</li>
                            <li>Um único pagamento por ano com desconto</li>
                        </ul>
                        <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Escolher esse plano</a>
                    </div>
                </div>
            </div>
        </div>

    {{else}}

        {{!-- Not logged in: Sign up --}}
        <form class="signup-form" data-members-form="signup">
            <h1 class="signup-title">Assinar "Grow in Tech, Weekly", por {{@site.title}}</h1>
            <p>{{@site.description}}</p>
            <div class="signup-box">
                <input data-members-email type="email" placeholder="Type your email..." required="true" autocomplete="false" />
                <button class="button primary" type="submit">
                    <span class="button-content">Continue</span>
                    <span class="button-loader">{{> "icons/loader"}}</span>
                </button>
            </div>
            <p><small>Already have an account? <a href="/signin/">Sign in</a></small></p>
            <div class="message-success"><strong>Great!</strong> Verifique seu e-mail e clique no link para confirmar sua inscrição</div>
            <div class="message-error">Por favor insira um e-mail válido!</div>
        </form>

    {{/if}}

    </div>
</main>
